.profile-container {
  background-color: aquamarine;
  padding: 1rem 3rem;
}

.profile {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  grid-column: 2 / span 5;
  flex-basis: 200px;
}

.my-name {
  margin-top: 1rem;
  margin-bottom: 0;
}

.bottom {
  display: flex;
  align-items: baseline;
}

.bottom a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
